.container{
	display: flex;
	align-items: center;
	image{
		width: 180rpx;
		height: 180rpx;
		border-radius: 10rpx;
		margin: 30rpx;
	}
	.content{
		height: 180rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: space-around;
		span{
			margin: 20rpx 20rpx 20rpx 0rpx;
		}
		.title{
			font-size: 40rpx;
			font-weight: bold;
		}
		.data{
			color: #a8abb3;
		}
	}
	
}